<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SeguridadEntities" connectionString="metadata=res://*/seguridad.ModelSeguridad.csdl|res://*/seguridad.ModelSeguridad.ssdl|res://*/seguridad.ModelSeguridad.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=prueba;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="pubsEntities" connectionString="metadata=res://*/seguridad.modelImage.csdl|res://*/seguridad.modelImage.ssdl|res://*/seguridad.modelImage.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=pubs;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
</configuration>